/src/ConfigurableTableView.xcodeproj/christian.pbxuser
/src/ConfigurableTableView.xcodeproj/christian.perspectivev3
/samples/All Cells Example/ConfigurableTableViewExample.xcodeproj/xcuserdata/
/src/ConfigurableTableView.xcodeproj/xcuserdata/
/src/ConfigurableTableView.xcodeproj/project.xcworkspace/xcuserdata/

/ConfigurableTableView.xcworkspace/xcuserdata/
/samples/All Cells Example/ConfigurableTableViewExample.xcodeproj/project.xcworkspace/xcuserdata/christian.xcuserdatad/UserInterfaceState.xcuserstate