/src/ConfigurableTableView.xcodeproj/christian.pbxuser
/src/ConfigurableTableView.xcodeproj/christian.perspectivev3
/samples/All Cells Example/ConfigurableTableViewExample.xcodeproj/xcuserdata/
/src/ConfigurableTableView.xcodeproj/xcuserdata/